<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Lista de compras</title>
</head>
<body class="#212121 grey darken-4">

	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<h1 style="text-align: center" class="grey-text text-lighten-2">Compras</h1>

		<p th:if="${mensagem}" th:text="${mensagem}"></p>

		<table class="highlight">
			<thead>
				<tr>
					<th class="#64dd17 light-green accent-4">Cliente</th>
					<th class="#64dd17 light-green accent-4">N° da compra</th>
					<th class="#64dd17 light-green accent-4">Pagamento</th>
					<th class="#64dd17 light-green accent-4">Produto</th>
					<th class="#64dd17 light-green accent-4">Categoria</th>
					<th class="#64dd17 light-green accent-4">Preço</th>
					<th class="#64dd17 light-green accent-4">N° identificador</th>
					<th class="#64dd17 light-green accent-4"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${pacotes}">
					<td class="grey-text text-lighten-2" th:text="${p.usuario.nome}"></td>
					<td class="grey-text text-lighten-2" th:text="${p.id}"></td>
					<div th:if="${p.pagamento == false}">
						<td class="grey-text text-lighten-2" th:text="Pendente"></td>
					</div>
					<div th:if="${p.pagamento == true}">
						<td class="grey-text text-lighten-2" th:text="Pago"></td>
					</div>
					<td class="grey-text text-lighten-2" th:text="${p.produto.nome}"></td>
					<td class="grey-text text-lighten-2"
						th:text="${p.produto.categoria}"></td>
					<td class="grey-text text-lighten-2" th:text="${p.produto.preco}"></td>
					<td class="grey-text text-lighten-2" th:text="${p.produto.id}"></td>
					<td><a
						th:href="@{/usuarios/listaCompras/{idCompra}(idCompra=${p.id})}">
							<i class="material-icons">delete</i>
					</a></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div th:replace="~{rodape :: rodape}"></div>

</body>
</html>