<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Lista de usuários</title>
</head>
<body class="#212121 grey darken-4">

	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<h1 style="text-align: center" class="grey-text text-lighten-2">Usuários</h1>

		<p th:if="${mensagem}" th:text="${mensagem}"></p>

		<table class="highlight">
			<thead>
				<tr>
					<th class="#64dd17 light-green accent-4">Id</th>
					<th class="#64dd17 light-green accent-4">Tipo</th>
					<th class="#64dd17 light-green accent-4">Nome</th>
					<th class="#64dd17 light-green accent-4">Cpf</th>
					<th class="#64dd17 light-green accent-4">Email</th>
					<th class="#64dd17 light-green accent-4">Telefone</th>
					<th class="#64dd17 light-green accent-4">Login</th>
					<th class="#64dd17 light-green accent-4">VIP</th>
					<th class="#64dd17 light-green accent-4"></th>
				</tr>
			</thead>
			<tbody sec:authorize="hasRole('ADMINISTRADOR')">
				<tr th:each="u : ${usuarios}">
					<td class="grey-text text-lighten-2" th:text="${u.id}"></td>
					<div th:if="${u.tipo == 1}">
						<td class="grey-text text-lighten-2" th:text="Cliente"></td>
					</div>
					<div th:if="${u.tipo == 2}">
						<td class="grey-text text-lighten-2" th:text="Proprietário"></td>
					</div>
					<div th:if="${u.tipo != 1 && u.tipo !=2}">
						<td class="grey-text text-lighten-2" th:text="Administrador"></td>
					</div>
					<td class="grey-text text-lighten-2" th:text="${u.nome}"></td>
					<td class="grey-text text-lighten-2" th:text="${u.cpf}"></td>
					<td class="grey-text text-lighten-2" th:text="${u.email}"></td>
					<td class="grey-text text-lighten-2" th:text="${u.telefone}"></td>
					<td class="grey-text text-lighten-2" th:text="${u.login}"></td>
					<div th:switch="${u.vip}">
						<td class="grey-text text-lighten-2" th:case="true">Sim</td>
						<td class="grey-text text-lighten-2" th:case="false">Não</td>
					</div>
					<td><a
						th:href="@{/usuarios/listaUsuarios/{idUsuario}(idUsuario=${u.id})}">
							<i class="material-icons">delete</i>
					</a></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div th:replace="~{rodape :: rodape}"></div>

</body>
</html>