<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Market Delivery</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<h1>Seja bem-vindo(a) ao Market Delivery</h1>

	<div class="container">

		<h1>Comércios disponíveis</h1>

		<table class="highlight">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Endereço</th>
					<th>Telefone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${comercios}">
					<td th:text="${c.id}"></td>
					<td><a th:href="@{/comercios/{id}(id=${c.id})}"><span
							th:text="${c.nome}"></span></a></td>
					<td th:text="${c.email}"></td>
					<td th:text="${c.endereco}"></td>
					<td th:text="${c.telefone}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>