<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Login</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<h1>Entrar:</h1>
		<div id="login">
			<form action="" method="post">
				<div class="row">
					<div class="col-4 center">
						<label>Login</label> 
						<input type="text" name="username">
					</div>
				</div>
				<div class="row">
					<div class="col-4 center">
						<label>Senha</label> 
						<input type="password" name="password">
					</div>
				</div>
				
				
				
				<div class="row">
					<div class="col-4 center">
						<button class="btn" type="submit">Entrar</button> 
						<button class="btn" type="reset">Limpar</button>
					</div>
				</div>
				
			</form>
		</div>

	</div>
	
</body>
</html>