<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Produtos</title>
</head>
<body class="#212121 grey darken-4">

	<div th:replace="~{menu :: menu}"></div>

	<div>
		<h1 style="text-align: center" class="grey-text text-lighten-2"
			th:text="${comercio.nome}"></h1>
	</div>

	<p th:if="${mensagem}" th:text=${mensagem}></p>

	<p class="#64dd17 light-green accent-4">.</p>


	<div class="row #64dd17 light-green accent-4">
		<div class="s12">
			<div class="card #212121 grey darken-4">
				<div class="card-content">
					<span class="card-title grey-text text-lighten-2">Informações
						do comércio:</span>
					<p>
						<strong class="grey-text text-lighten-2"> Nome: </strong><span
							class="grey-text text-lighten-2" th:text="${comercio.nome}"></span>
					</p>
					<p>
						<strong class="grey-text text-lighten-2">Endereço: </strong><span
							class="grey-text text-lighten-2" th:text="${comercio.endereco}"></span>
					</p>
					<p>
						<strong class="grey-text text-lighten-2">E-mail: </strong><span
							class="grey-text text-lighten-2" th:text="${comercio.email}"></span>
					</p>
					<p>
						<strong class="grey-text text-lighten-2">Telefone: </strong><span
							class="grey-text text-lighten-2" th:text="${comercio.telefone}"></span>
					</p>
					<p>
						<strong class="grey-text text-lighten-2">Taxa da entrega:
						</strong><span class="grey-text text-lighten-2"
							th:text="${comercio.taxaEntrega}"></span><strong
							class="grey-text text-lighten-2"> R$</strong>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div sec:authorize="hasRole('CLIENTE')"
		class="row #64dd17 light-green accent-4">
		<div class="s12">
			<div class="card #212121 grey darken-4">
				<div class="card-content">
					<span class="card-title grey-text text-lighten-2">Produto
						Desejado:</span>
					<form
						th:action="@{/comercios/{idComercio}/produtos/{idProduto}/adicionar(idComercio=${comercio.id}, idProduto=${produto.id})}"
						method="post" th:object="${produto}">
						<div>
							<label class="grey-text text-lighten-2"><h6>Nome:</h6> </label>
							<p class="grey-text text-lighten-2" th:text="${produto.nome}"></p>
						</div>
						<div>
							<label class="grey-text text-lighten-2"><h6>Categoria:</h6>
							</label>
							<p class="grey-text text-lighten-2"
								th:text="${produto.categoria}"></p>
						</div>
						<div>
							<label class="grey-text text-lighten-2"><h6>Preço:</h6> </label>
							<p class="grey-text text-lighten-2" th:text="${produto.preco}"></p>
						</div>
						<br></br>
						<div>
							<button type="submit" class="btn">Comprar</button>
							<button type="reset" class="btn">Limpar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{rodape :: rodape}"></div>

</body>
</html>