<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Produtos</title>
</head>
<body class="#212121 grey darken-4">

	<div th:replace="~{menu :: menu}"></div>

	<div>
		<h1 class="grey-text text-lighten-2" style="text-align: center"
			th:text="${comercio.nome}"></h1>
	</div>

	<p class="#64dd17 light-green accent-4">.</p>

	<p th:if="${mensagem}" th:text=${mensagem}></p>

	<div class="row #64dd17 light-green accent-4">
		<div class="s12">
			<div class="card #212121 grey darken-4">
				<div class="card-content">
					<span class="card-title grey-text text-lighten-2">Nossas
						informações:</span>
					<p>
						<strong class="grey-text text-lighten-2">Nome: </strong><span
							class="grey-text text-lighten-2" th:text="${comercio.nome}"></span>
					</p>
					<p>
						<strong class="grey-text text-lighten-2">Endereço: </strong><span
							class="grey-text text-lighten-2" th:text="${comercio.endereco}"></span>
					</p>
					<p>
						<strong class="grey-text text-lighten-2">E-mail: </strong><span
							class="grey-text text-lighten-2" th:text="${comercio.email}"></span>
					</p>
					<p>
						<strong class="grey-text text-lighten-2">Telefone: </strong><span
							class="grey-text text-lighten-2" th:text="${comercio.telefone}"></span>
					</p>
					<p>
						<strong class="grey-text text-lighten-2">Taxa da entrega:
						</strong><span class="grey-text text-lighten-2"
							th:text="${comercio.taxaEntrega}"></span><strong
							class="grey-text text-lighten-2"> R$</strong>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${comercio.cpfUsuario == usuario.cpf}"
		sec:authorize="hasRole('PROPRIETARIO')"
		class="row #64dd17 light-green accent-4">
		<div class="s12">
			<div class="card #212121 grey darken-4">
				<div class="card-content">
					<span class="card-title grey-text text-lighten-2">Atualizar
						produto</span>
					<form
						th:action="@{/comercios/{codigoComercio}(codigoComercio=${comercio.id})}"
						method="post" th:object="${produto}">
						<div>
							<input type="hidden" name="id" th:field="*{id}"
								readonly="readonly">
						</div>
						<div>
							<label>Nome: </label> <input class="grey-text text-lighten-2"
								type="text" name="nome" th:value="${produto.nome}">
							<p th:errors="*{nome}"></p>
						</div>
						<div>
							<label>Categoria: </label> <input
								class="grey-text text-lighten-2" type="text" name="categoria"
								th:value="${produto.categoria}">
							<p th:errors="*{categoria}"></p>
						</div>
						<div>
							<label>Preço: </label> <input class="grey-text text-lighten-2"
								type="number" name="preco" th:value="${produto.preco}">
							<p th:errors="*{preco}"></p>
						</div>
						<div>
							<label>Quantidade: </label> <input
								class="grey-text text-lighten-2" type="number" name="quantidade"
								th:value="${produto.quantidade}">
							<p th:errors="*{quantidade}"></p>
						</div>

						<div>
							<label><input type="checkbox" checked name="disponivel">
								<span>Disponível</span> </label>
						</div>
						<br></br>
						<div>
							<button type="submit" class="btn">Salvar</button>
							<button type="reset" class="btn">Limpar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${comercio.cpfUsuario == usuario.cpf}"
		sec:authorize="hasRole('PROPRIETARIO')"
		class="row #64dd17 light-green accent-4">
		<div class="s12">
			<div class="card">
				<div class="card-content #212121 grey darken-4">
					<span class="card-title grey-text text-lighten-2">Adicionar
						produto:</span>
					<form
						th:action="@{/comercios/{codigoComercio}(codigoComercio=${comercio.id})}"
						method="post" th:object="${produto}">
						<div>
							<label>Nome: </label> <input class="grey-text text-lighten-2"
								type="text" name="nome">
							<p th:value="${produto.nome}"></p>
							<p th:errors="*{nome}"></p>
						</div>
						<div>
							<label>Categoria: </label> <input
								class="grey-text text-lighten-2" type="text" name="categoria">
							<p th:value="${produto.categoria}"></p>
							<p th:errors="*{categoria}"></p>
						</div>
						<div>
							<label>Preço: </label> <input class="grey-text text-lighten-2"
								type="number" name="preco">
							<p th:value="${produto.preco}"></p>
							<p th:errors="*{preco}"></p>
						</div>
						<div>
							<label>Quantidade: </label> <input
								class="grey-text text-lighten-2" type="number" name="quantidade"
								th:value="${produto.quantidade}">
							<p th:errors="*{quantidade}"></p>
						</div>
						<div>
							<label><input type="checkbox" checked name="disponivel"
								onclick="return false;"> <span>Disponível</span> </label>
						</div>
						<br></br>
						<div>
							<button type="submit" class="btn">Adicionar</button>
							<button type="reset" class="btn">Limpar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="s12">
			<div class="card #212121 grey darken-4">
				<div class="card-content">
					<span class="card-title grey-text text-lighten-2">Produtos</span>
					<table class="highlight">
						<thead>
							<tr>
								<th class="grey-text text-lighten-2">Id</th>
								<th class="grey-text text-lighten-2">Nome</th>
								<th class="grey-text text-lighten-2">Categoria</th>
								<th class="grey-text text-lighten-2">Preço</th>
								<th class="grey-text text-lighten-2">Quantidade</th>
								<th class="grey-text text-lighten-2">Disponível</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p : ${produtos}">
								<td class="grey-text text-lighten-2" th:text="${p.id}"></td>
								<td class="grey-text text-lighten-2" th:text="${p.nome}"></td>
								<td class="grey-text text-lighten-2" th:text="${p.categoria}"></td>
								<td class="grey-text text-lighten-2" th:text="${p.preco}"></td>
								<td class="grey-text text-lighten-2" th:text="${p.quantidade}"></td>
								<div th:switch="${p.disponivel}">
									<td class="grey-text text-lighten-2" th:case="true">Sim</td>
									<td class="grey-text text-lighten-2" th:case="false">Não</td>
								</div>
								<td><a sec:authorize="hasRole('PROPRIETARIO')"
									th:if="${comercio.cpfUsuario == usuario.cpf}"
									th:href="@{/comercios/{idComercio}/produtos/{idProduto}/selecionar(idComercio=${comercio.id}, idProduto=${p.id})}">
										<i class="material-icons">edit</i>
								</a> <a sec:authorize="hasRole('PROPRIETARIO')"
									th:if="${comercio.cpfUsuario == usuario.cpf}"
									th:href="@{/comercios/{idComercio}/produtos/{idProduto}/remover(idComercio=${comercio.id}, idProduto=${p.id})}"><i
										class="material-icons">delete</i></a> <a
									th:if="${p.disponivel == true}"
									sec:authorize="hasRole('CLIENTE')"
									th:href="@{/comercios/{idComercio}/produtos/{idProduto}/adicionar(idComercio=${comercio.id}, idProduto=${p.id})}"><i
										class="material-icons">add</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{rodape :: rodape}"></div>

</body>
</html>