<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Produtos</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<div class="row">
		<div class="s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Comércio</span>
					<p>
						<strong>Id: </strong><span th:text="${comercio.id}"></span>
					</p>
					<p>
						<strong>Nome: </strong><span th:text="${comercio.nome}"></span>
					</p>
					<p>
						<strong>Endereço: </strong><span th:text="${comercio.endereco}"></span>
					</p>
					<p>
						<strong>E-mail: </strong><span th:text="${comercio.email}"></span>
					</p>
					<p>
						<strong>Telefone: </strong><span th:text="${comercio.telefone}"></span>
					</p>
					<p>
						<strong>Taxa da entrega: </strong><span
							th:text="${comercio.taxaEntrega}"></span><strong> R$</strong>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Adicionar Produto</span>
					<form method="post" action="">
						<div>
							<label>Nome: </label> <input type="text" name="nome">
						</div>
						<div>
							<label>Categoria: </label> <input type="text" name="categoria">
						</div>
						<div>
							<label>Preço: </label> <input type="number" name="preco">
						</div>
						<div>
							<label>Quantidade: </label> <input type="number"
								name="quantidade">
						</div>

						<div>
							<label><input type="checkbox" checked name="disponivel"
								onclick="return false;"> <span>Disponível</span> </label>
						</div>
						<div>
							<br></br>
							<button type="submit" class="btn">Adicionar</button>
							<button type="reset" class="btn">Limpar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Produtos</span>
					<table class="highlight">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nome</th>
								<th>Categoria</th>
								<th>Preço</th>
								<th>Quantidade</th>
								<th>Disponível</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p : ${produtos}">
								<td th:text="${p.id}"></td>
								<td th:text="${p.nome}"></td>
								<td th:text="${p.categoria}"></td>
								<td th:text="${p.preco}"></td>
								<td th:text="${p.quantidade}"></td>
								<div th:switch="${p.disponivel}">
									<td th:case="true">Sim</td>
									<td th:case="false">Não</td>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>