<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Produtos</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<div class="row">
		<div class="s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Comércio</span>
					<p>
						<strong>Id: </strong><span th:text="${comercio.id}"></span>
					</p>
					<p>
						<strong>Nome: </strong><span th:text="${comercio.nome}"></span>
					</p>
					<p>
						<strong>Endereço: </strong><span th:text="${comercio.endereco}"></span>
					</p>
					<p>
						<strong>E-mail: </strong><span th:text="${comercio.email}"></span>
					</p>
					<p>
						<strong>Telefone: </strong><span th:text="${comercio.telefone}"></span>
					</p>
					<p>
						<strong>Taxa da entrega: </strong><span
							th:text="${comercio.taxaEntrega}"></span><strong> R$</strong>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Adicionar Convidado</span>
					<form
						th:action="@{/comercios/{idComercio}(idComercio=${comercio.id})}"
						method="post" th:object="${produto}">
						<div>
							<input type="hidden" th:field="*{id}" readonly="readonly">
						</div>
						<div>
							<label>Nome: </label> <input type="text" 
								th:field="*{nome}">
								<p th:errors="*{nome}"></p>
						</div>
						<div>
							<label>Categoria: </label> <input type="text" 
								th:field="*{categoria}">
								<p th:errors="*{categoria}"></p>
						</div>
						<div>
							<label>Preço: </label> <input type="number" 
								th:field="*{preco}">
								<p th:errors="*{preco}"></p>
						</div>
						<div>
							<label>Quantidade: </label> <input type="number"
								th:field="*{quantidade}">
								<p th:errors="*{quantidade}"></p>
						</div>

						<div>
							<label><input type="checkbox" checked
								name="disponivel" onclick="return false;"> <span>Disponível</span>
							</label>
						</div>
						<br></br>
						<div>
							<button type="submit" class="btn">Salvar</button>
							<button type="reset" class="btn">Limpar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Produtos</span>
					<table class="highlight">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nome</th>
								<th>Categoria</th>
								<th>Preço</th>
								<th>Quantidade</th>
								<th>Disponível</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p : ${produtos}">
								<td th:text="${p.id}"></td>
								<td th:text="${p.nome}"></td>
								<td th:text="${p.categoria}"></td>
								<td th:text="${p.preco}"></td>
								<td th:text="${p.quantidade}"></td>
								<div th:switch="${p.disponivel}">
									<td th:case="true">Sim</td>
									<td th:case="false">Não</td>
								</div>
								<td><a
									th:href="@{/comercios/{idComercio}/produtos/{idProduto}/selecionar(idComercio=${comercio.id}, idProduto=${p.id})}">
										<i class="material-icons">edit</i>
								</a> <a
									th:href="@{/comercios/{idComercio}/produtos/{idProduto}/remover(idProduto=${p.id}, idComercio=${p.comercio.id})}"><i
										class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>